/* imports */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fredericka+the+Great&family=Major+Mono+Display&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fredericka+the+Great&family=Major+Mono+Display&family=Michroma&family=Montserrat&display=swap');
/* * {
    border: 1px solid red;
} */

/* tags go here */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0em auto;
    max-width: 85%;
    /* font-family: 'Michroma', sans-serif; */
    font-family: 'Spartan', sans-serif;
    color: #060E26;
    background-color: #f1f6f9;
}

h1 {
    color: #14274e;
}

span {
    color: orangered;
}
/* p, h2{
    font-family: 'Montserrat', sans-serif;
} */
h2, h3, h4, a {
    color: #394867;
    /* font-family: 'Spartan', sans-serif; */
}

textarea {
    resize: none;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
}
progress{
    margin-top: 100%;
    display: flex;
    justify-items: center;
    width: 95%;

}
aside{
    margin-top: 5px;
    font-size: x-small;
}
/* classes go here */

.page {
    min-height: 100vh;
    padding-top: 6vh;
    padding: 5%;
    transition-timing-function: ease;
    border-bottom: 1px solid lightgray;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 85%;
    background-color: #14274e;
    position: fixed;
}

.nav-bar {
    display: flex;
    color: #DFE4F2;
    top: 0;
}

.nav-item {
    justify-content: stretch;
    list-style-type: none;
    padding: 0 5px;
    text-decoration: none;
}

.nav-item>a {
    color: white;
}
.mobile{
    display: none;
}
.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(20, 39, 78, 1) 100%);
}

.header>h1, h4 {
    margin: 10px;
}

.header>h1 {
    font-size: 3em;
}

.header>img {
    margin-top: 20vh;
    max-width: 30%;
    border-radius: 50%;
}

.about_me {
    flex-direction: row;
    align-items: center;
    color: #394867;
    min-height: 100vh;
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(255, 239, 0, 1) 100%);
}

.about_me>img {
    float: right;
    max-width: 30%;
    border-radius: 50%;
}

/* .tech_card{
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 360px 360px 360px;
} */

.tech {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(40, 255, 0, 1) 100%);
}

.tech_card {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.card_body {
    min-width: 22vw;
    min-height: 22vh;
    background-size: cover;
}

.html {
    background-image: url("images/html.png");
}

.css {
    background-image: url("images/css.png");
}

.js {
    background-image: url("images/js.png");
}

.bootstrap {
    background-image: url("images/bootstrap.png");
}

.sql {
    background-image: url("images/sql.png");
}

.csharp {
    background-image: url("images/csharp.png");
}

.aspnet {
    background-image: url("images/mvc5.png");
}

.python {
    background-image: url("images/python.png");
}

.pokemon {
    background-image: url("images/pokemon.png");
}
.node{
    background-image: url("images/node.png");
}

.danger {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.danger>img {
    max-width: 80vw;
    display: block;
    margin: 20vh 20vw;
}

.port {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(255, 109, 0, 1) 100%);
    margin-top: 2rem;
}

.resume {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(100, 13, 156, 1) 100%);
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 15vw 1fr 1fr 15vw;
}
.mobile > img{
    max-height: 2rem;
}
.resume>h1 {
    grid-column: 1 / 5;
}

.res_1 {
    grid-column: 2 / 3;
}

.resume_item>img {
    max-width: 100%;
    /* position: relative;
    margin-left: 40%; */
}

.resume>.container {
    display: flex;
    flex-direction: column;
}

.contact_form {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(104, 232, 236, 1) 100%);
}

.contact_form {
    min-height: 70vh;
}

.contact_list>li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 15vw 50vw;
    grid-template-rows: 3vh 1vh;
}
.button{
    background-color: lime;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.about_header {
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
    background: rgb(241, 246, 249);
    background: linear-gradient(90deg, rgba(241, 246, 249, 1) 30%, rgba(254, 239, 4, 1) 100%);
}

.tech_header {
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
    background: rgb(241, 246, 249);
    background: linear-gradient(90deg, rgba(241, 246, 249, 1) 30%, rgba(69, 254, 12, 1) 100%);
}

.projects_header {
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
    background: rgb(241, 246, 249);
    background: linear-gradient(90deg, rgba(241, 246, 249, 1) 30%, rgba(250, 121, 24, 1) 100%);
}
.resume_header{
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
    background: rgb(241,246,249);
background: linear-gradient(90deg, rgba(241,246,249,1) 30%, rgba(121,48,170,1) 100%);
}
.contact_header{
    border-bottom: 1px solid lightslategray;
    margin-bottom: 1rem;
    background: rgb(241,246,249);
background: linear-gradient(90deg, rgba(241,246,249,1) 30%, rgba(122,234,237,1) 100%);
}

/* .about_me > h3 {
    justify-items: start;
} */

/* IDs go here */

/* media queries go here */

@media screen and (max-width: 600px) {
    body{
        max-width: 100vw;
    }

    h2, h3, h4, p, a {
        font-size: x-large;
    }
    .about_me > img{
        max-width: 50%;
        max-height: 30%;
    }
    .card_body {
        /* min-width: 80vw;
        min-height: 50vh; */
        min-width: 40vw;

    }
    .nav-item {
        display: none;
    }
    .desktop {
        display: none;
    }
    .res_1 {
        grid-column: 1 / 3;
    }
    .res_2 {
        grid-column: 3 / 5;
    }
    .contact_list {
        padding-left: 0;
    }
    .contact_form>li {
        padding-left: 2vw;
    }
}

@media screen and (min-width: 1000px) {
    .card_body {
        min-height: 40vh;
        min-width: 20vw;
    }
}