/* imports */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
/* * {
    border: 1px solid red;
} */

/* tags go here */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0em auto;
    max-width: 85%;
    font-family: 'Spartan', sans-serif;
    color: #060E26;
    background-color: #f1f6f9;
}

h1 {
    color: #14274e;
}

span {
    color: orangered;
}

h2, h3, h4, p, a {
    color: #394867;
}

/* classes go here */

.page {
    min-height: 100vh;
}

.nav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 85%;
    background-color: #14274e;
    position: fixed;
}

.nav-bar {

    display: flex;
    color: #DFE4F2;
    top: 0;
}

.nav-item {
    justify-content: stretch;
    list-style-type: none;
    padding: 0 5px;
    text-decoration: none;
}

.nav-item>a {
    color: white;
}

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(20, 39, 78, 1) 100%);
}

.header>h1, h4 {
    margin: 10px;
}

.header>h1 {
    font-size: 3em;
}

.header>img {
    margin-top: 20vh;
    max-width: 30%;
    border-radius: 50%;
}

.about_me {
    flex-direction: row;
    align-items: center;
    color: #394867;
    min-height: 100vh;
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(255, 239, 0, 1) 100%);
}

.about_me>img {
    float: right;
    max-width: 30%;
    border-radius: 50%;
}

/* .tech_card{
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 360px 360px 360px;
} */

.tech {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(40, 255, 0, 1) 100%);
}

.tech_card {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.card_body {
    min-width: 25vw;
    min-height: 20vh;
    background-size: cover;
}

.html {
    background-image: url("images/html.png");
}

.css {
    background-image: url("images/css.png");
}

.js {
    background-image: url("images/js.png");
}

.bootstrap {
    background-image: url("images/bootstrap.png");
}

.sql {
    background-image: url("images/sql.png");
}

.csharp {
    background-image: url("images/csharp.png");
}

.aspnet {
    background-image: url("images/mvc5.png");
}

.python {
    background-image: url("images/python.png");
}
.pokemon{
    background-image: url("images/pokemon.png");
}

.danger {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.danger>img {
    max-width: 80vw;
}

.port {
    background: rgb(241, 246, 249);
    background: linear-gradient(0deg, rgba(241, 246, 249, 1) 20%, rgba(255, 109, 0, 1) 100%);
    margin-top: 2rem;
}
.resume{
    background: rgb(241,246,249);
    background: linear-gradient(0deg, rgba(241,246,249,1) 20%, rgba(100,13,156,1) 100%);
}
.contact_form {
    background: rgb(241,246,249);
background: linear-gradient(0deg, rgba(241,246,249,1) 20%, rgba(104,232,236,1) 100%);
}

/* .about_me > h3 {
    justify-items: start;
} */

/* IDs go here */

/* media queries go here */

@media screen and (max-width: 600px) {
    .card_body {
        min-width: 80vw;
        min-height: 50vh;
    }
    .nav-item {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .card_body {
        min-height: 40vh;
    }
}